<div>
    <h1>Products</h1>
    {{#each products}}
        <p><strong>Nombre: </strong>{{this.title}} <strong>Email:</strong>{{this.description}}</p>
    {{/each}}
    {{#if hasPrevPage}}
    <a href="/products?pageQuery={{prevPage}}">Anterior</a>
    {{/if }}
    <label>{{page}}</label>
    {{#if hasNextPage}}
    <a href="/products?pageQuery={{nextPage}}">Siguiente</a>
    {{/if }}
    
</div>