<div>
    <h1>Products</h1>
    {{#each payload}}
        <p><strong>Nombre: </strong>{{this.title}} 
        <strong>description:</strong>{{this.description}}
        <strong>Precio:${{this.price}}</strong>
        <strong>Stock:{{this.stock}}</strong>
        </p>
    {{/each}}
    {{#if hasPrevPage}}
    <a href="/products?limit={{linkLimit}}&pageQuery={{prevPage}}">Anterior</a>
    {{/if }}
    <label>{{page}}</label>
    {{#if hasNextPage}}
    <a href="/products?limit={{linkLimit}}&pageQuery={{nextPage}}">Siguiente</a>
    {{/if }}
    
</div>